h2{
    background-color: #607d8b;
    color: white;
}

.highlight{
    background: #607d8b;
    color: aliceblue;
}

.text-light{
    color: #EBEBD3;
    background-color: #707070;
    
}

.container{
    background-color: #607d8b;
}

.light{
    background-color: white;
}

#logo{
    
}